import Config

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "YOUR_GITHUB_CLIENT_ID",
  client_secret: "YOUR_GITHUB_CLIENT_SECRET"

config :ex_openai,
  api_key: "YOUR_OPENAI_API_KEY",
  http_options: [recv_timeout: 30_000] 