import Config

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "GITHUB_CLIENT_ID"
  client_secret: "GITHUB_CLIENT_SECRET"

# Set OpenAI API key as environment variable
System.put_env("LB_OPENAI_API_KEY", "key here")
